{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "Firefox ESR",
            "not ie < 11",
            "not op_mini all",
            "sailfish"
          ]
      },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript"
  ]
//  "plugins": [
//    ["@babel/plugin-proposal-decorators", { "legacy": true }],
//    ["@babel/plugin-proposal-class-properties", { "loose": false }],
//    ["@babel/plugin-transform-private-property-in-object", {"loose": false}],
//    ["@babel/plugin-transform-private-methods", { "loose": false }],
//    ["@babel/plugin-proposal-private-methods", { "loose": false }],
//    ["@babel/plugin-proposal-private-property-in-object", { "loose": false }],
//    ["@babel/plugin-transform-class-properties",{ "loose": false }],
//    ["@babel/plugin-transform-block-scoping"],
//    ["@babel/plugin-transform-class-static-block"]
//  ]
}