<mat-card>
  <mat-card-header>
    <h4>Create a new room</h4>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="addRoomForm" (ngSubmit)="save()">
      <div style="padding-bottom: 10%;">
        <input type="text"
          [class.is-invalid]='addRoomForm.get("roomName")!.errors && addRoomForm.get("roomName")!.touched'
          formControlName='roomName' id="floatingInput" placeholder="Name">
        <div *ngIf="addRoomForm.get('roomName')!.hasError('maxlength')" class="invalid-feedback">Room Name max-length is:
          100
        </div>
      </div>
    
      <button [disabled]="!addRoomForm.valid" class="w-100 btn btn-lg btn-success" type="submit">Save</button>
    </form>
  </mat-card-content>

</mat-card>
